{%load static%} <!-- Para poder cargar archivos de la carpeta static -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inicio1.html</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    
    <!-- FORMULARIO PARA INGRESAR DATOS A TABLA1 -->
    <form action="#" method="post" id="id_form_test">
      {% csrf_token %}

      <h1>Inicio de sesión</h1>

      <label>
        <input type="text" name="correo" placeholder="correo" id="id_correo"/>
      </label>

      <label>
        <input type="text" name="contrasena" placeholder="contrasena" id="id_contrasena"/>
      </label>

      <button type="submit">Iniciar sesión</button>

      <!-- REGISTRARSE -->
      <div><a href="/">Registrarse</a></div>

    </form>

  </body>

  <script>
    // INICIAR SESIÓN
    $(document).ready(function () {
      $("#id_form_test").submit(function (event) {
        event.preventDefault(); // Evitar la acción predeterminada del formulario

        var correo = $("#id_correo").val();
        var contrasena = $("#id_contrasena").val();

        console.log("correo:", correo);
        console.log("contrasena:", contrasena);

        $.ajax({
          type: "POST",
          url: "/inicio_sesion/",
          data: {
            correo,
            contrasena,
            'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(),
          },
          success: function (response) {
            console.log("Éxito");
            window.location.href = "/mostrar_datos";
          },
          error: function (error) {
            console.log("Error");
            console.log(error);
          }
        });
      });
    });
  </script>

</html>
